{%extends 'base.html'%}

{% block title %}
    {{post.title}}
{%endblock%}

{% block content_title %}
    {{post.title}}
{%endblock%}

{% block content %}

    <div class="tagslist">
        {%for tag in tags %}
            <a href="{{ url_for('blogbprint.tag_detail',slug=tag.slug)}}">
                <span class="badge badge-primary">{{tag.tagname}}</span>
            </a>
        {% endfor %}
    </div>


<article>{{post.body|safe}}</article>

{%endblock%}

{% block editbutton %}
	<a class="btn btn-success" href="{{ url_for('blogbprint.edit_post',slug=post.slug)}}" role="button">Edit</a>
{%endblock%}
{% block editlink %}
	<a class="dropdown-item" href="{{ url_for('blogbprint.edit_post',slug=post.slug)}}">✂Edit post</a>
{%endblock%}
